<!DOCTYPE html>
<html>

<head>
  <%- include('../layouts/head') %>
</head>

<body>
  <header>
    <%- include('../layouts/header') %>
  </header>
  <main>
    <section class="task-view container">
      <%- include('../layouts/form', {formAction: 'update', task:task}) %>
    </section>
  </main>
</body>

</html>
